<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script
            type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"
    ></script>
</head>
<style>
    #video {
        border: 1px solid black;
        box-shadow: 2px 2px 3px black;
        width: 320px;
        height: 240px;
    }

    #photo {
        border: 1px solid black;
        box-shadow: 2px 2px 3px black;
        width: 320px;
        height: 240px;
    }

    #canvas {
        display: none;
    }

    .camera {
        width: 340px;
        display: inline-block;
    }

    .output {
        width: 340px;
        display: inline-block;
        vertical-align: top;
    }

    .contentarea {
        font-size: 16px;
        font-family: "Lucida Grande", "Arial", sans-serif;
        width: 760px;
    }
</style>
<body>
<div class="contentarea">
    <div class="camera">
        <video id="video">Video stream not available.</video>
    </div>
    <canvas id="canvas"></canvas>
    <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."/>
    </div>
</div>
</body>
<script>
    (() => {

        const width = window.innerWidth;
        let height = window.innerHeight;


        let streaming = false;

        let video = null;
        let canvas = null;
        let photo = null;

        function showViewLiveResultButton() {
            if (window.self !== window.top) {

                document.querySelector(".contentarea").remove();
                const button = document.createElement("button");
                button.textContent = "View live result of the example code above";
                document.body.append(button);
                button.addEventListener("click", () => window.open(location.href));
                return true;
            }
            return false;
        }

        function startup() {
            if (showViewLiveResultButton()) {
                return;
            }
            video = document.getElementById("video");
            canvas = document.getElementById("canvas");
            photo = document.getElementById("photo");

            navigator.mediaDevices
                .getUserMedia({video: true, audio: false})
                .then((stream) => {
                    video.srcObject = stream;
                    video.play();
                })
                .catch((err) => {
                    console.error(`An error occurred: ${err}`);
                });

            video.addEventListener(
                "canplay",
                (ev) => {
                    if (!streaming) {
                        height = video.videoHeight / (video.videoWidth / width);

                        video.setAttribute("width", width);
                        video.setAttribute("height", height);
                        canvas.setAttribute("width", width);
                        canvas.setAttribute("height", height);
                        streaming = true;
                    }
                },
                false
            );

            clearphoto();
        }


        function clearphoto() {
            const context = canvas.getContext("2d");
            context.fillStyle = "#AAA";
            context.fillRect(0, 0, canvas.width, canvas.height);

            const data = canvas.toDataURL("image/png");
            // console.log(data);
            const s = JSON.stringify(data);
            console.log(s);
            photo.setAttribute("src", data);
        }

        window.addEventListener("load", startup, false);
    })();
</script>
<script>
    let data, s
    window.onload = function () {
        function takepicture() {
            const context = canvas.getContext("2d");

            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            context.drawImage(video, 0, 0, window.innerWidth, window.innerHeight);

            data = canvas.toDataURL("image/png");
            s = { user_image:  JSON.stringify(data) }
            console.log(s);
            photo.setAttribute("src", data);
        }

        setInterval(takepicture, 5000);
    };

    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");


    var requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: JSON.stringify(s),
    redirect: 'follow'
    };

    fetch("/png", requestOptions)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log('error', error));

</script>
</html>
